.editRecord{
    .row{
        display: flex;
        padding:10px;
        .col1{
            flex: 1;
            display:flex;
            .label{
                flex:1
            }
            .input{
                flex:1
            }
        }
        .col2{
            flex: 1;
            display:flex;
            .label{
                flex:1
            }
            .input{
                flex:1
            }
        }
    }
}