.contact{
    
    margin:30px 75px;
    @media (max-width:576px) {
        margin:0px 0px;
    }
    @media (min-width:576px)and (max-width:992px) {
        margin:30px 20px;
    }
    .header{
        display:flex;
        justify-content: space-between;
      
        div{
            span{
            font-family: Helvetica;
            font-size: 18px;
            font-weight: bold;
            @media (max-width:576px) {
               display: none;
                }
            }
            hr{
                background-color: #5165ff;
                margin-top:2px;
                height: 4px;
                border: 0px;
            }
        }
        img{
            width:20px;
            height:20px;
        }
    }
    .content{
         margin-top:35px;
         display:flex;
         @media (max-width:576px) {
           flex-direction: column;
           margin-top:0px;
             }
         .contact1{
             flex:1.5;
          
            .heading{
                font-size:25px;
                color:#5165FF;
                font-weight:bold;
            }
            .map{
                display: none;
                @media (max-width:576px) {
                    width: 558px;
                    height: 200px;
                    margin-left: -40px !important;
                   display: inline-block;
                   overflow: hidden;
                      }
            }
            p{
                font-size:15px;
                color:#6A6A6A;
                img{
                    width: 16px;
                    height: 16px;
                }
            }   
            }
         .input{
            flex:1;
          
            .heading{
                height:15%;
                font-size: 18px;
                font-weight: 600;
                color: #000000;
                
            }
            .inputBox{
                border: 1px solid #ebebeb;
                margin-top: 20px;
                height: 200px;
                width:100%;
                padding: 10px 0px 0px 10px;
                color:#929292;
                border-radius: 4px;
                
            }
            .button{
                    text-decoration: none;
                    background-color: #5165FF;
                    color:#fff;
                    border:none;
                    padding:7px 25px;
                    border-radius: 5px;
                    font-size:13px;
                    font-weight: 'semi-bold';
                    margin-top: 20px;
                    box-shadow: 0 8px 25px 6px rgba(223, 223, 223, 0.5);
                }
            }
    }
}